/* src/pages/Homepage.css */
.homepage {

  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage h1 {
  color: #ffffff;
  font-size: 3rem;
  
  margin-bottom: 5px;
  font-family: 'Bungee', sans-serif; /* Changed font to Bungee for a more modern look */
  font-weight: 400;
  letter-spacing: 2px;
  text-align: left;
  width: 100%;
}

.homepage p {
  color: #ffffff;
  font-size: 1.2rem;
  max-width: 600px;
  text-align: left;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 40px;
}

.small-play-button {
  background-color: #e01e3c;
  font-family: 'Bungee', cursive;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 1.5rem;
  border: 3px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 300px;
  max-width: 100%;
}

.small-play-button:hover {
  background-color: #ffffff;
  color: #1f4c7f;
}

.trumpvskamala-image {
  width: 50%;
  margin-right: 20px;
}

.content-container {
  display: flex;
  align-items: center;
}

.text-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}